.questBoardButton {
  border: none;
  background-color: #75220f;
  position: absolute;
  top: 10%;
  left: 75%;
  width: 200px;
  height: 75px;
}

.legend {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 30%;
}