.questBoardButton {
  border: none;
  position: absolute;
  top: 10%;
  left: 75%;
  background-image: url('../../../../public/map/map-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  width: 380px;
  height: 80px;
}

.questBoardButton:hover {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.05);
}

.legend {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 50%;
  width: 30%;
  background-color: white;
  border: 4px solid #923012;
  border-radius: 8px;
  color: black;
  padding: 3em;

  .legendItem {
    font-size: 1.2rem;
    font-weight: bold
  }

  .legendItem:hover {
    cursor: pointer;
    color: #923012;
    opacity: 0.8;
  }
}