.questBoardButton {
  border: none;
  position: absolute;
  top: 10%;
  left: 75%;
  background-image: url('../../../../public/map/map-btn.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  width: 380px;
  height: 80px;
}

.questBoardButton:hover {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.05);
}

.legend {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 30%;
}