.testQuestionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;

  .testQuestion {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.2em !important;
  }

  .radioLabel {
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .radioLabel:hover {
    transform: scale(1.01);
  }

  .radioInput {
    transform: scale(1.3);
    margin-right: 10px;
    cursor: pointer;
  }
}

.acceptButton,
.btn {
  padding: 0.5em 1em;
  margin-top: 2em;
  color: black;
  border: none;
  font-weight: bold;
  align-self: center;
  width: 200px;
  background-color: #FFB21C;
}

.acceptButton:hover {
  transform: scale(1.01);
  opacity: 0.8;
  background-color: #FBB93B !important;
  color: black !important;
}