.mainCard {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;

  &:hover {
    transform: scale(1.05);
  }

  .clickable {
    cursor: pointer;
  }

  .menu {
    background-color: #fff;
    color: #333;
    border: 0;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dropdownMenu {
    width: 90%;
    margin-top: 1.25em;
  }
}