.color {
    background-color: #071542;
    height: 100vh;
}

.mainContainer {
    background-color: #071542;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.headerRow {
    padding: 1em 0 1em;

    h1 {
        margin-bottom: 0.75em;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.stackContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    color: black;
    flex: 3;
    flex-wrap: wrap;
}

.stackContainer > * {
    flex: 1;
}